$dark-theme: true !default
$background-primary: #eceff4
$background-secondary: #d8dee9
$text-primary: #2e3440
$link-color: #5e81ac


@if $dark-theme
    $background-primary: #2e3440
    $background-secondary: #4c566a
    $text-primary: #d8dee9
    $link-color: #81a1c1
